$primary: hsl(31, 53%, 90%);
$black: hsl(24, 5%, 18%);
$white: hsl(0, 0%, 100%);
$family-sans-serif: "Outfit", sans-serif;
$family-primary: "Young Serif", serif;

// overriding Bulma initial variables for colors
@use "bulma/sass/utilities/initial-variables" with (
  $turquoise: $primary,
  $black: $black,
  $white: $white
);

@use "bulma/sass/utilities/functions" as fn;

// custom colors
$stone-150: hsl(30, 18%, 87%);
$stone-600: hsl(32, 10%, 34%);
$brown: hsl(14, 45%, 36%);
$rose: hsl(332, 51%, 32%);
$rose-invert: fn.bulmaFindColorInvert($rose);
$rose-light: hsl(330, 100%, 98%);
$rose-light-invert: fn.bulmaFindColorInvert($rose-light);

// Provide custom colors map for Bulma via the derived-variables module
$custom-colors: (
  "rose": (
    $rose,
    $rose-invert,
  ),
  "rose-light": (
    $rose-light,
    $rose-light-invert,
  ),
  "brown": $brown,
  "stone-150": $stone-150,
  "stone-600": $stone-600,
);

@use "bulma/sass/utilities/derived-variables" with (
  $custom-colors: $custom-colors,
  $family-secondary: $family-primary,
  $family-primary: $family-sans-serif
);

// Load the full Bulma module (it will reuse the configured derived-variables module)
@use "bulma/bulma";

.recipe-page {
  .recipe-hero {
    padding-bottom: 2rem;
  }

  article {
    gap: 32px;

    aside {
      border-radius: 1.25rem;

      ::marker {
        color: $rose;
      }
    }
  }

  ::marker {
    color: $brown;
    font-weight: bold;
  }

  hr {
    margin: 0;
  }

  table {
    th {
      font-weight: 400 !important;
    }

    td {
      color: $brown !important;
      font-weight: 600;
    }
  }
}

@media only screen and (min-width: 768px) {
  body {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .recipe-page {
    max-width: 740px;
    border-radius: 1.25rem;
  }

  .recipe-hero {
    padding: 3rem;
    img {
      border-radius: var(--bulma-radius-large);
    }
  }

  article.content {
    .title {
      letter-spacing: 0.1rem;
    }
  }
}
