@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wdth,wght@12..96,75..100,700&display=swap");
@import "tailwindcss";

@theme {
  /* container dimensions */
  --container-7xl: 76rem;

  /* colors */
  --color-neutral-900: hsl(243, 96%, 9%);
  --color-neutral-800: hsl(243, 27%, 20%);
  --color-neutral-700: hsl(243, 23%, 24%);
  --color-neutral-600: hsl(243, 23%, 30%);
  --color-neutral-300: hsl(240, 6%, 70%);
  --color-neutral-200: hsl(250, 6%, 84%);
  --color-neutral-0: hsl(0, 0%, 100%);
  --color-orange-500: hsl(28, 100%, 52%);
  --color-blue-500: hsl(233, 67%, 56%);
  --color-blue-700: hsl(248, 70%, 36%);

  /* fonts */
  --font-dm-sans: "DM Sans", sans-serif;
  --font-bricolage-grotesque: "Bricolage Grotesque", sans-serif;

  --drop-shadow-dropdown: 0 8px 16px #02012c 32%;
  --drop-shadow-dropdown-button:
    0 0 0 3px var(--color-neutral-900), 0 0 0 5px var(--color-neutral-0);
  --shadow-dropdown-item: 0 0 0 1px var(--color-neutral-900), 0 0 0 2px var(--color-neutral-0);
}

#root {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  @apply bg-neutral-900 text-neutral-0;
}

.class-hello {
  background-color: red;
}

.loader {
  width: 40px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, var(--color-neutral-0) 90%, #0000);
  background:
    var(--_g) 0% 50%,
    var(--_g) 50% 50%,
    var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  20% {
    background-position:
      0% 0%,
      50% 50%,
      100% 50%;
  }
  40% {
    background-position:
      0% 100%,
      50% 0%,
      100% 50%;
  }
  60% {
    background-position:
      0% 50%,
      50% 100%,
      100% 0%;
  }
  80% {
    background-position:
      0% 50%,
      50% 50%,
      100% 100%;
  }
}

/* Hide scrollbar for Safari, Chrome and Opera  */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox, Edge and IE */
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge*/
  scrollbar-width: none; /* Firefox*/
}
